<%- include('./partials/head.ejs') %>
<div class="container" >
    <h1>Budget All</h1>
    <button hx-get="/budgets/new" hx-trigger="click" hx-target="#form-new" hx-swap="innerHTML">NEW ITEM</button> Current Bank Balance: <button class="balance <%=balanceColor()%>"><%=total%></button>
    <div id="form-new">
        
    </div>
    <table id="table">
        <thead>
            <tr>
            <th>Date <i class="fa-solid fa-sort"></i></th><th>Name <i class="fa-solid fa-sort"></i></th><th>Amount <i class="fa-solid fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <% for (let budget in budgets) { %>
            <tr>
            <td><%= budgets[budget].date %></td>
            <td><a href="/budgets/<%=budget%>"><%= budgets[budget].name %></a></td>
            <td><%= budgets[budget].amount %></td>
            </tr>    
            <% } %>
        </tbody>
     </table>
</div>
<script>
    new Tablesort(document.getElementById('table'));
</script>